.item-menu {
  text-align: center;
  padding: 10px;
  h5 {
    text-transform: uppercase;
    font-size: 0.6rem;
    color: white;
  }

  svg {
    color: white;
  }

  &:hover {
    cursor: pointer;

    svg {
      color: rgb(202, 86, 86);
    }

    h5 {
      color: rgb(202, 86, 86);
    }
  }
}

.up-line {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #31313b,
    rgba(255, 255, 255, 0.4)
  );
}
